body {
    font-family: 'Arial', sans-serif;
    background-color: #aaaaaa9d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-width: 80%; /* Ajuste del ancho para dispositivos móviles */
}

#display {
    background-color: #eee;
    padding: 10px;
    text-align: right;
    font-size: 1.5em;
    border: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px; /* Espaciado entre los botones */
    padding: 8px; /* Espaciado interno */
}

button {
    border: none;
    background-color: #f4f4f4;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

button:active {
    background-color: #ddd;
}

/* Estilo específico para el botón C */
button.c {
    grid-column: 4; /* Este botón ocupa 2 columnas */
}
